/* Container da pagina */
.container{
    max-width: 100%;
    width: 1040px;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6, p, a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Header da pagina */
header{
    background-color: #85cdf5;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
header nav a{
    text-decoration: none;
    color: #333;
    font-family: Darker  Grotesque, sans-serif;
    font-weight: bold;
    font-size: 1.2em;
}

/*Section 1*/

#sec_1{
    background: url("../img/image.png") center no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sec_1 div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}   
h1{
    font-size: 3em;
    color: #fafafa;
    font-weight: bold;
}
h2{
    font-size: 1.5em;
    transition: 0.5s;
    font-weight: 900;
    color: #fafafa;
}
h2:hover{
    font-size: 2.5em;
    font-weight: 900 bold;
    transition: 0.5s;
}
#sec_1 div p{
    color: #fafafa;
    font-size: 1.3em;
    text-align: center;

}

/*Section 2*/
#sec_2{
    background-color: #2c5680;
}
#sobre {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
#sobre p{
    color: #fafafa;
    text-align: center;
    font-size: 1em;
    width: 600px;
}
h3{
    color: #DEB959;
    font-size: 2em;
    font-weight: bold;
}

/*Section 3*/
#sec_3{
    background-color: #333;
    display: flex;
    align-items: center;
    text-align: center;
}
#maeValores {
    padding: 30px 0;
    
}
#valores{
    
    display: flex;
    justify-content: space-between;
}
.cardsValores{
    display: flex;
    width: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.cardsValores div{
    width: 170px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    border-radius: 50%;
}
.cardsValores p{
    color: #fafafa;
    font-size: 1em;

}
h4{
    font-size: 1.5em;
    font-weight: bold;
    color: #fafafa;
}

/* Section 4 */
#sec_4{
    background-color: #fafafa;
    display: flex;
    align-items: center;
    text-align: center;
}
#maeExemplos{
    padding: 40px;
    display: flex;
    flex-direction: column;
}
#exemplos{
    display: flex;
    flex-direction: column;
    /*padding: 30px;*/
}
.cardExemplo{
        
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cardExemplo2{
        
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.molde{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    
}
.ret{
    position: absolute;
    width: 400px;
    height: 200px;
    background-color: #0066cc;
}
.cardExemplo2 img{
    width: 400px;
    height: 200px;
    position: relative;
    padding-top: 15px;
    /*padding-right: 15px; - Não funciona*/
    padding-left: 15px;
}
.cardExemplo2 a{
    justify-content: center;
    align-self: center;
}
.cardExemplo img{
    width: 400px;
    height: 200px;
    position: relative;
    padding-top: 15px;
    padding-left: 15px;
}
.cardExemplo a{
    justify-content: center;
    align-self: center;
}
.informacoes{
    width: 400px;
    padding-top: 70px;
    text-align: left;
    color: #333;
}
.informacoes2{
    width: 400px;
    padding-top: 70px;
    text-align: right;
    color: #333;
}

h5{
    font-size: 2.1em;
    padding-top: 5px;
}
h6{
    font-size: 1.5em;
    padding-bottom: 5px;
}


/* Rodapé */
footer{
    background-color: #333;
}
#rodape{
    padding: 60px;
    display: flex;
    color: #fafafa;
    justify-content: space-between;
}
#elem-1{
    display: flex;
}
#elem-1 img{
    width: 200px;
    height: 170px;
}
#elem-1 div{
    padding:10px 0 10px 20px;
    align-items: center;
    justify-content: center;
}
#elem-1 div a{
    padding: 0 20px;
    width: 250px;
    height: 100px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    background-color: #DEB959;

}
#elem-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Section 5*/
#sec_1{
    background-color: #fafafa;
}
#maeLobinhos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formLobinhos form{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}
.buscarLobo{
    width: 500px;
    height: 50px;
    
}
.buttonLobo{
    background-color: #DEB959;
    color: #fafafa;
    width: 100px;
    height: 50px;
    justify-content: center;
    align-self: center;
}
.buttonLobo:hover{
    cursor: url(https://images.vexels.com/media/users/3/158105/isolated/preview/22becce14efa74bc6c83bec78f9d9b1e---cone-de-cursor-de-m--o-de-pixel-by-vexels.png), pointer;
    background-color: #fafafa;
    color: #DEB959;
    border: #DEB959 solid;
}

/* Section 6 */
#sec_6{
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0;
}
#maeForm{

    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    border: #333 solid;
    
}
#maeForm p{
    font-size: 2em;
    text-align: center;
    color: #333;
}
#addForm{
    margin: 30px 0;   
}
#addForm p{
    font-size: 1em;
    color: #333;
    
}
#addForm form{
    display: flex;
    flex-direction: column;
}
#addForm form div{
    display: flex;
    justify-content: space-between;
    
}
#addForm form div div{
    display: flex;
    flex-direction: column;
}
#formNome{
    width: 300px;
    color: #333;
    background-color: lightgoldenrodyellow;
    margin-right: 10px;
}
#formAge{
    width: 100px;
    color: #333;    
    background-color: lightgoldenrodyellow;
    
}
#formImg{
    width: 410px;
    color:#333;
    background-color: lightgoldenrodyellow;
    
}
#formDescricao{
    width: 410px;
    height: 200px;
    color: #333;
    background-color: lightgoldenrodyellow;
    
}
#formSubmit{
    width: 100px;
    height: 30px;
    background-color: #0066cc;
    color: #fafafa;
    justify-content: center;
    align-self: center;
}
    
/*Section 7*/
#sec_7{
    background-color: #fafafa;
    min-height: 500px ;
}

#maeLobo{
    padding: 40px;
    display: flex;
    flex-direction: column;
}
#nomeLoboID{
    font-size: 2.5em;
    text-align: center;
    padding: 20px 0;
    font-weight: bold;
}
.cardLoboID{ 
    margin: 30px 0;       
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cardLoboID img{
    width: 400px;
    height: 200px;
    position: relative;
    padding-top: 15px;
    padding-left: 15px;
}
.cardLoboID a{
    justify-content: center;
    align-self: center;
}
.informacoesN{
    width: 400px;
    text-align: left;
    color: #333;
}
#butdisplay{
    display: flex;
    width: 400px;
    padding: 20px 0;
}
#butAdotar{
    background-color: green;
    color: #fafafa;
    width: 200px;
    height: 50px;
}
#butAdotar:hover{
    color: green;
    background-color: #fafafa;
    border: green solid;
    cursor:url(https://images.vexels.com/media/users/3/158105/isolated/preview/22becce14efa74bc6c83bec78f9d9b1e---cone-de-cursor-de-m--o-de-pixel-by-vexels.png), pointer;;
}
#butApagar{
    background-color: red;
    color: #fafafa;
    width: 200px;
    height: 50px;
}
#butApagar:hover{
    color: red;
    background-color: #fafafa;
    border: red solid;
    cursor:url(https://images.vexels.com/media/users/3/158105/isolated/preview/22becce14efa74bc6c83bec78f9d9b1e---cone-de-cursor-de-m--o-de-pixel-by-vexels.png), pointer;;
}

/*Section 8*/
#addMae{
    display: flex;
    justify-content: space-between;
    
}
#formAdocao{
    padding: 40px;
}
#addMae form{
    display: flex;
    flex-direction: column;
    padding:15px 0;
    
}
#addMae form input{
    width: 400px;

}